# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron
/dist
*.log

# Code signing credentials
.env
.env.local

# Poppler binaries (optional - uncomment if you want to ignore them in git)
# /resources/poppler/darwin/pdftoppm
# /resources/poppler/win32/pdftoppm.exe
# /resources/poppler/linux/pdftoppm

